<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="headerfile">
<meta charset="UTF-8">
<title>My application</title>
<link rel="stylesheet" href="/styles/menu.css">
</head>
<style>
.btn1 {
	width: 80px;
	height: 20px;
	padding: 20px;
	color: white;
}

.active {
	background: lightgreen;
}

.disabled {
	background: red;
}
</style>
<body>
	<div class="menu" th:fragment="menu">
		<div class="row">
			<div>
				<a href="/">Home</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a href="/notes">Notes</a>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="/admin_page">Admin page</a>
			</div>
		</div>
		<div class="row">
			<div sec:authorize="isAnonymous()">
				<a href="/login">Login</a>
			</div>
			<div sec:authorize="isAnonymous()">
				<a href="/signup">Sign Up</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a href="/logout">Logout</a>
			</div>
		</div>
	</div>

	<div class="first">
		<h1 th:unless="${message}">This is home page</h1>
		<h1 th:text="${message}"></h1>
	</div>
	<div id="el1">
		<div id="el2">First</div>
		<div id="el3">Second</div>
	</div>
	<script type="text/javascript" src="/scripts/button.js">
		
	</script>
</body>
</html>