<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SignUp Page</title>
</head>
<body>
	<div th:if="${param.error}">Enter another username!</div>
	<h1>Please sign up!!!!</h1>
	<form id="signup_form" action="/signup" method="post">
		<div>
			Username: <input id="username" type="text" name="username" placeholder="Username"
				required="required" pattern="[A-Za-z]+">
		</div>
		<div>
			Password: <input type="password" name="password" id="psw"
				placeholder="Pasword" required="required">
		</div>
		<div>
			Confirm password: <input type="password" id="confirm-psw"
				placeholder="Confirm password">
		</div>
		<div>
			Email: <input id="email" type="email" name="email" placeholder="Email"
				required="required">
		</div>
		<div>
			<button type="button" value="Sign Up" onclick="submitForm()">
				Sign Up</button>
		</div>
	</form>
	<script type="text/javascript" src="/scripts/check.js">
	</script>
	<a href="/login">Do you have an account? Sign in</a>
</body>
</html>