@charset "UTF-8";

h1, h2 {
	color: red;
}

#first {
	color: blue;
}

div.green_text {
	color: green;
}

.big_text {
	font-size: 25px;
}

.container {
	border: 1px double blue;
	width: 700px;
	height: 250px;
	margin: auto;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	margin: auto;
}

.item {
	border: 1px double blue;
	margin: 10px;
	padding: 10px;
}