@charset "UTF-8";

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.row {
	display: flex;
	flex-direction: row;
}

.menu a {
	display: block;
	margin: 10px;
}

.items {
	display: flex;
	flex-direction: column;
}

.item {
	padding: 10px;
	padding-bottom: 40px;
	margin: 10px;
	border: 1px solid black;
	margin: 10px;
	width: 400px;
	margin: 10px;
}